* text=auto eol=lf
*.gd text eol=lf
*.gdshader text eol=lf
*.tscn text eol=lf
*.tres text eol=lf
*.godot text eol=lf
*.py text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.json text eol=lf
*.cmd text eol=crlf
*.ps1 text eol=crlf
